@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}

.glass-effect {
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.scrollbar {
  scrollbar-color: #2e343d transparent;
  scrollbar-width: thin;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  opacity: 0;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #2e343d;
  opacity: 1;
}


.home-gallary{
  height: 600px;
  overflow-x: auto;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
